<?xml version="1.0"?>
<robot name="exo" xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find exo_urdf)/urdf/robot_description.xacro" />

<xacro:include filename="$(find exo_urdf)/urdf/transmission.xacro" />

<xacro:include filename="$(find exo_urdf)/urdf/ros2_control.xacro" />


</robot>
