<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Gazebo IMU Sensor Plugin -->

  <!-- Thigh IMU -->
  <xacro:imu_sensor link_reference="thigh_link" 
                  sensor_name="thigh_imu_sensor" 
                  topic_suffix="thigh"
  />

  <!-- Shank IMU -->
  <xacro:imu_sensor link_reference="shank_link" 
                  sensor_name="shank_imu_sensor" 
                  topic_suffix="shank"
  />

  <!-- Foot IMU -->
  <xacro:imu_sensor link_reference="foot_link" 
                  sensor_name="foot_imu_sensor" 
                  topic_suffix="foot"
  />
  

<!-- Gazebo Torque Sensors Plugin -->
  <!-- Hip Torque -->
  <xacro:torque_sensor 
    reference_link="thigh_link"
    sensor_name="hip_torque_sensor"
    topic_suffix="hip"
    joint_name="hip_joint"
    force_stddev="0.15"
    torque_stddev="0.02"
  />

  <!-- Knee Torque -->
    <xacro:torque_sensor 
      reference_link="shank_link" 
      sensor_name="knee_torque_sensor" 
      topic_suffix="knee" 
      joint_name="knee_joint"
      force_stddev="0.15" 
      torque_stddev="0.02"
    />

  <!-- Ankle Torque -->
    <xacro:torque_sensor 
      reference_link="foot_link" 
      sensor_name="ankle_torque_sensor" 
      topic_suffix="ankle" 
      joint_name="ankle_joint"
      force_stddev="0.15" 
      torque_stddev="0.02"
    />


<!-- Contact Sensor -->
  <gazebo reference="foot_link">
    <sensor type="contact" name="foot_contact">
      <always_on>true</always_on>
      <update_rate>50</update_rate>
    </sensor>
  </gazebo>

</robot>
