<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
<!-- Transmission Macro -->
  <xacro:macro name="joint_transmission" params="transmission_name joint_name actuator_name hardware_interface:=EffortJointInterface mechanical_reduction:=1">
    <transmission name="${transmission_name}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint_name}">
        <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${actuator_name}">
        <mechanicalReduction>${mechanical_reduction}</mechanicalReduction>
        <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </actuator>
    </transmission>
  </xacro:macro>

</robot>
