<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
<!-- Gazebo Transmissions -->

  <!-- Corrected Transmissions -->
  <xacro:joint_transmission 
      transmission_name="hip_transmission"
      joint_name="hip_joint"
      actuator_name="hip_motor"
  />
  <xacro:joint_transmission 
      transmission_name="knee_transmission"
      joint_name="knee_joint"
      actuator_name="knee_motor"
  />
  <xacro:joint_transmission 
      transmission_name="ankle_transmission"
      joint_name="ankle_joint"
      actuator_name="ankle_motor"
  />

</robot>
